img{
	display: none;
}

.walrus-showing{

	display: none;
}

 p {
        cursor: pointer;
        color: #0088cc;
      }

      .clickable:hover {
        text-decoration: underline;
        color: green;
      }